.header{
    background-color:rgb(238, 237, 237);
    z-index:100;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    height:62px;
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left-section{
    display:flex;
    align-items:center;
    width:230px;
    margin-left:6px;
    text-shadow:1px 1px 1px rgb(233, 227, 227);
  }
  
  .middle-section{
    display:flex;
    flex:1;
  }
  
  .right-section{
    display:flex;
    width:180px;
    align-items:center;
    justify-content: space-between;
    flex-shrink: 0;
    margin-right:25px;
  }

  .logo-img{
    margin-left: 20px;
  }
  
  .login-icon-image{
    cursor:pointer;
     width : 36px;
     margin-left: 30px;
  }
  
  .contact-us{
    cursor:pointer;
  }
  
  .about-us{
    cursor:pointer;
  }
  
  
  
  .site-logo{
    width:40px;
    border-radius:35px;
    cursor:pointer;
  }
  
  .site-name{
    margin-left:20px;
    Font-size:36px;
    cursor:pointer;
  }
  
  